<div class="position-relative">
<button class="btn btn-lg btn-outline-primary position-absolute top-0 start-50 translate-middle-x" *ngIf="showAllButton" (click)="onClick()">{{buttonText}}</button>
</div>

<div class="mt-5" *ngIf="showTable">
<table class="table table-striped">
	<thead class="thead">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Patient Name</th>
			<th scope="col">Patient Code</th>
			<th scope="col">Patient Towm</th>
      <th scope="col">Patient Sex</th>
      <th scope="col">Doctor Name</th>
      <th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let patient of patientsList">
			<td>{{patient.id}}</td>
      <td>{{patient.name}}</td>
      <td>{{patient.code}}</td>
      <td>{{patient.town}}</td>
      <td>{{patient.sex}}</td>
      <td>{{patient.doctor}}</td>      
      <td> <button type="button" class="btn btn-danger" (clikc)="onDelete(patient.code)">Delete Patient</button> </td>
      <th></th>
		</tr>
  </tbody>
</table>
</div>


