div {

.welcome {
    background-color: #5f4bfa;
    border-color: azure;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    color: white !important;
    font-size: 30px;
    line-height: normal;
    line-break: auto;
}

.choose {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;;
    font-size: 20px;
    
}
}