.tab {
    margin: 20px; 
}

.table {

.table-head{
    margin: 20px; 
    color:antiquewhite;
}

.table-tr{
    justify-content: center;
    color:antiquewhite;
} 
}

.table-td {
    color:antiquewhite;
}
