<div class="position-relative">
  <button class="btn btn-lg btn-outline-primary position-absolute top-0 start-50 translate-middle-x" *ngIf="showDocButton" (click)="onDoctorClick()">{{buttonText}}</button>
</div>

<div class="tab" *ngIf="showFilter">
  <form>
    <div class="mt-3 position-relative">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label"></label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text" [(ngModel)]="inputText" name="toFilter" (input)="filterTable()" placeholder="Enter doctor's name"/>
      </div>
    </div> 
  </form>
  
  <table class="table table-striped" *ngIf="showBasicTable">
    <thead class="table-head">
      <tr class="table-tr">
        <th scope="col">#</th>
			  <th scope="col">Patient Name</th>
			  <th scope="col">Patient Code</th>
			  <th scope="col">Patient Towm</th>
        <th scope="col">Patient Gender</th>
        <th scope="col">Doctor Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patientsList">
        <td>{{patient.id}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.code}}</td>
        <td>{{patient.town}}</td>
        <td>{{patient.sex}}</td>
        <td>{{patient.doctor}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table class="table table-striped" *ngIf="showFilteredTable">
    <thead>
      <tr>
        <th scope="col">#</th>
			  <th scope="col">Patient Name</th>
			  <th scope="col">Patient Code</th>
			  <th scope="col">Patient Towm</th>
        <th scope="col">Patient Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of filteredList">
        <td>{{patient.id}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.code}}</td>
        <td>{{patient.town}}</td>
        <td>{{patient.sex}}</td>
      </tr>
    </tbody>
  </table>
</div>